@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@400;600&display=swap');

body{
	margin: 0;
	overflow-x: hidden;
}

.header img {
	float: left;
}

.header h1 {
	position: relative;
	left: 5px;
	font-family: 'Baloo Bhaina 2';
	font-weight: 600;
	color:#333333;
}

.header span{
	color: #999999;
	font-weight: 400;
}

.mapa{
	margin: auto;
	width: 1200px; 
	height: 850px; 
	position: relative;
}

#container1{
	width: 1200px;
	height: 800px; 
}

.no_data_color_box{
	width:15px;
	height:15px;
	color: #888888;
}

.footer{
	background-color: #eeeeee;
}

.footer_column{
	display: inline-block;
	width: 33%;
	text-align: center;
	vertical-align: middle;
}

.footer_column p{
	font-size: small;
	color: #888888;
	font-weight: 700;
}

.fa {
  text-decoration: none;
  color: #888888;
  width: 50px;
}

.fa:hover {
  opacity: 0.7;
}
