body {
    font-family: "Arial";
    font-size: 10px;
    text-align: center;
}

.header{
    margin-bottom:50px;
}
.header h1{
    font-size: 40px;
    margin-bottom: auto;
}

.header span{
    font-size: 25px;
}

.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

input {
    visibility:hidden;
}

label {
    cursor: pointer;
    display: inline-block;
    width: 120px;
    text-align: center; 
    /*padding: 0.75rem 1rem;*/
    border: 0;
    border-radius: 0.2rem;
    background-color: #1fa3ec;
    color: #ffffff;
    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    font-family: "Helvetica Neue", Arial, sans-serif;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
}
input:checked + label{
    background: #999999;
}

.back_to_map_button {
    margin-top: 20px;
    border: 0;
    border-radius: 0.2rem;
    background-color: #1fa3ec;   
    padding-top: 2px;
    padding-bottom: 2px; 
}

.back_to_map_link {
    color: #ffffff;
    text-decoration: none;
}